# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- Commonly used libraries for Data Science
- Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Java
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Keras
4. Matplotlib
5. PyTorch

|Data Science Tools |
|----------- |
|MySQL |
|MongoDB |
|Ceph |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
## This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
## This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Suganya G